<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleDisplayName</key>
	<string>AGSTestCS</string>
	<key>CFBundleIdentifier</key>
	<string>cn.beginor.agstestcs</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon@2x</string>
		<string>AppIcon</string>
		<string>Sportlight@2x</string>
		<string>Sportlight</string>
		<string>Settings@2x</string>
		<string>Settings</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
</dict>
</plist>
